# generated types
**/.astro/
**/vercel/
**/.frontmatter/

#  default ignored files
# **/.git
# **/.svn
# **/.hg
# **/node_modules

# logs

pnpm-debug.log*


.vscode/

# Directories

# macOS-specific files
**/.DS_Store
# Files
pnpm-lock.yaml

**/*d.ts

# default

**/.git
**/.svn
**/.hg
**/node_modules/
**/dist/
**/.turbo/
**/.vercel/
